.appointment-form input {
    display: block;
    margin-top: 20px;
    padding: 10px;
    /* border: 1px solid gray; */
    border: none;
    background-color: rgb(241, 237, 237);
    border-radius: 5px;
    width: 350px;
}
.error{
    color: red;
}
.appointment-btn{
    text-decoration: none;
}
.place-order-btn{
    width: 200px;
    color: white;
    background-color: rgb(248, 22, 71);
    border: none;
    border-radius: 10px;
    padding: 5px;
}

/* Media query for responsive */

/* mobile */
@media only screen and (max-width:688px){
    .appointment-form input {
        display: block;
        margin-top: 20px;
        padding: 10px;
        /* border: 1px solid gray; */
        border: none;
        background-color: rgb(241, 237, 237);
        border-radius: 5px;
        width: 260px;
    }
}