/* Footer style */
.footer-menu{
  list-style: none;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
}
/* footer body */
.footer-container{
  background-color: #110509;
  padding: 50px;
  color: rgb(204, 194, 194);
}
.footer-container p:hover{
  color: rgb(238, 21, 86);
  cursor: text;
}
 /* Icon hover */
 .fa-mobile-alt{
  color: rgb(238, 21, 86);
}
.fa-envelope{
  color: rgb(238, 21, 86);
}
.fa-address-card{
  color: rgb(238, 21, 86);
}

.fa-facebook-square:hover{
  color: rgb(238, 21, 86);
}
.twitter:hover{
  color: rgb(238, 21, 86);
}
.fa-instagram:hover{
  color: rgb(238, 21, 86);
}
.fa-reddit-square:hover{
  color: rgb(238, 21, 86);
}
.border-style{
  border-bottom: #f5f5f5;
  border-bottom: 3px solid rgb(238, 21, 86);
  width: 130px;
  padding: 5px;
}
.border-style2{
  border-bottom: #f5f5f5;
  border-bottom: 3px solid rgb(238, 21, 86);
  width: 150px;
  padding: 5px;
}
  